[Desktop Entry]
Version=1.0
Name=Slack
Comment=Slack
Exec=/usr/bin/zen-browser https://app.slack.com/client
Terminal=false
Type=Application
Icon=slack
StartupNotify=true
